@font-face {
    font-family: "Roboto-Bold";
    src: url("../Fonts/Roboto-Bold.ttf") format("truetype"); 
}

h1,
h2,
.logo {
    font-family: "Roboto-Bold";
    font-size: 1.5em;
    font-style: normal
}
header, 
footer {
    background-color: black;
    font-family: "roboto";
    color: aliceblue;
}

header a {
    color: aliceblue;
}

.cta {
    background-color: brown;
    color: aliceblue;
    font-size: 1.5em;
}

.reviews {
    background-color: chocolate;
}

.featured {
    background-color: coral;
}

.button-sale {
    background-color: darkgreen;
}

footer {
    text-align: center;
}