header, footer{
    background-color: #3F3F3F;
}

header a { 
    color: #FFFF;
}

.cta {
background-color: #FC4D05;
color: #FFFF;
}

.reviews {
    background-color: #E9E9E9;
}


.button-view {
    background-color: #FC4D05;
}

.button-sale {
    background-color: chartreuse;
}